// estilos del flex-box

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.social_icon1 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

ul.social_icon1 li {
  height: 30px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 15px;
}
