// estos son los estilos para los espacios, osea margin y padding
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

.label {
  position: relative;
  padding: 0px 23px 0px 9px;
  cursor: pointer;
  margin-bottom: 0;
}

ul.btn li:last-child {
  padding-right: 0;
}

ul.lan li i {
  padding-right: 5px;
}
